@using Microsoft.AspNetCore.Authentication
@model AuthenticationScheme[]
@{
    Layout = null;
}
@* var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();*@

<html>
<body>

        Authenticated: @Model <br />
        <a href="/api/CoreAuthentication/secret">This page requires you to be authenticated</a>

        @*<div>
                <p>
                    @foreach (var provider in loginProviders)
                    {
                        <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                    }
                </p>
            </div>*@



        <div class="jumbotron">
            <h1>Authentication</h1>
            <p class="lead text-left">Sign in using one of these external providers:</p>

            @foreach (var scheme in Model)
            {
                <form action="/signin" method="post">
                    <input type="hidden" name="Provider" value="@scheme.Name" />
                    <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />

                    <button class="btn btn-lg btn-success" type="submit">Connect using @scheme.DisplayName</button>
                </form>
            }
        </div>
   
</body>
</html>